html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    background: rgb(23, 23, 29);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

section {
    color: #101010;
    position: absolute;
    width: 100%;
    height: 200vh;
}

body{
  margin:0px;
  padding:0px;
}

header{
  width: 100%;
  height: 60px;
}

.banner{
  display: flex;
}
.hc-banner{
  float: left;

}
.mlh-banner{
  float: right;
}

.hc-wrapper{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
}
path{
  stroke: #fff;
  fill: #fff;
  stroke-dasharray: 0;
  opacity: 10;
  animation: animate 3s cubic-bezier(.17,.67,.83,.67);
  animation-delay: 2s;

}

@keyframes animate{
  0%{
    opacity: 0;
    fill: none;
    stroke-dashoffset: 672;
  }
  30%{
    opacity: 10;
    fill: none;
    stroke-dashoffset: 672;
  }
  80%{
   fill: rgba(255, 255, 255, 0)
  }
  100%{
    opacity: 10;
    fill: rgba(255, 255, 255, 1);
    stroke-dashoffset: 0;
  }
}
a{
  cursor: pointer;
}
.recapbtn{
  height: 40px;
  background: none;
  color: red;
  width: 150px;
  font-size: 18px;
  border: 2px solid red;
  cursor: pointer;
  margin-top: 10px;
  opacity: .8;
  transition: 0.5s;
}
.recapbtn:hover{
  opacity: 1;
  background: red;
  color: black;
}

.text::before,.text::after{
  content: attr(data-text);
  position: absolute;

  z-index: -1;
}

.text::before{
  color: #ff00c1;
  animation: glitch-effect 3s infinite;
}

.text::after{
  color: #3498db;
  animation: glitch-effect 2s infinite;
}

.animation-area{
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.box-area{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}
.box-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  bottom: 100vh;
  animation: comeup 20s linear infinite;
}
.box-area li:nth-child(1){
  height: 50px;
  width: 50px;
  left: 86%;
  animation-delay: 0s;
  background: rgb(175,82,222);
}
.box-area li:nth-child(2){
  height: 60px;
  width: 60px;
  left: 36%;
  animation-delay: 4s;
  background: rgb(255,45,85);
}
.box-area li:nth-child(3){
  height: 40px;
  width: 40px;
  left: 16%;
  animation-delay: 1s;
  background: rgb(255,204,0);

}
.box-area li:nth-child(4){
  height: 20px;
  width: 20px;
  left: 75%;
  animation-delay: 3s;
  background: rgb(0,122,225);
}
.box-area li:nth-child(5){
  height: 80px;
  width: 80px;
  left: 53%;
  animation-delay: 2s;
  background: rgb(255,149,0);
}
.text{
  width: 20%;
  margin-left: 20%;
  text-align: center;
}
.image-layout{
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  z-index: 100;
  margin-bottom: 50px;
}
.image-layout img{
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
  object-fit: cover;
}
.image-layout img:hover{
  transform: scale(1.1);
}


@keyframes comeup{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(-800px) rotate(90deg);  
    opacity: 0;
  }
}
@keyframes glitch-effect {
  0%{
    left: -2px;
    top: -2px;
  }
  25%{
    left: 2px;
    top: 0px;
  }
  50%{
    left: -1px;
    top: 2px;
  }
  75%{
    left: 1px;
    top: -1px;
  }
  100%{
    left: 0px;
    top: -2px;
  }
}

.reviews{
  width: 100%;
  background-color: #2f2f38;
  padding: 50px 0px;
  color: white;
}
.review-text{
  width: 40%;
  line-height: 2;
  letter-spacing: 1px;
  padding-top: 70px;
  padding-right: 70px;
  padding-left: 70px;
}
.review-spacing{
  padding-left: 20%;
  display: flex;

}
.review-pic{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 50px;
  color: white;
}
.review-pic img{
  height: 300px;
  width: 300px;
  border-radius: 20px;
  margin-bottom: 20px;
  object-fit: cover;
  
}

.reviews .text{
  width: 300px;

}